/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

div {
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between
}

.flex h2 {
    margin: 1.5em;
}

.btn {
    background-color: #c1d23e;
    border: 1px solid #c1d23e;
    color: black;
    width: 150px;
}

.boton {
    display: flex;
    justify-content: left;
    padding: 20px;
}


li {
    padding: 0.75em;
    cursor: pointer;
}

li:hover {
    background-color: #c1d23e;
    border-radius: 0.25em;
    width: fit-content;

}