<p>tutor works!</p>


<div class="container">
    <div class="wrapper">
        <div class="mensajeria">
            <app-conversacion></app-conversacion>
        </div>
        <div class="perfil">
            <app-perfil></app-perfil>
        </div>
        <div class="alumnos">
            <h2>Alumnos</h2>
            <div class="card-alumnos">
                <div class="alumno" *ngFor="let alumno of arrAlumnos"
                    [routerLink]="['/tutor/alumno/clase',alumno.id, alumno.clases_id]">
                    <h3>{{alumno.nombre}}{{alumno.apellidos}}</h3>
                    <p>Email: {{alumno.email}}</p>
                    <p>Direccion: {{alumno.direccion}}</p>
                    <p>Nacimiento: {{alumno.nacimiento}}</p>
                    <p>ClaseID: {{alumno.clases_id}}</p>
                    <p>Clase: {{alumno.clase}}</p>
                </div>
            </div>
        </div>

        <div class="observaciones">
            <h2>Observacion</h2>
            <article class="observacion" *ngFor="let observacion of arrObservacion">
                <h3>Titulo: {{observacion.titulo}}</h3>
                <p>Contenido: {{observacion.contenido}}</p>
                <small>For: {{observacion.nombre}}</small>
            </article>
        </div>
    </div>
</div>