.total {
    max-width: 1004px;
    margin: 0 auto;
}

.mensajeria {
    border: 1px solid black;
    height: auto;
    background-image: url(../../../assets/images/sobre.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: #dfeaf1;
    color: black;
    border-radius: 1em;
    border: 2px solid #c1d23e;
}



.alumnos {
    border-radius: 1em;
    background-color: #dfeaf1;
    border: 2px solid #c1d23e;
    padding: 1em;
}

h2 {
    margin: 0.5em;
}

.alumno {
    border: 1px solid #c1d23e;
    padding: 1.5em;
    background-color: #dfeaf1;
    box-shadow: 3px 3px 5px #c1d23e;
    border-radius: 25px;
    margin-bottom: 1em;
    cursor: pointer;
}




.observaciones {
    border-radius: 1em;
    background-color: #dfeaf1;
    border: 2px solid #c1d23e;
    padding: 1em;
}

.observaciones h2 {
    margin: 1em;
}

.observacion {
    border-radius: 25px;
    background-image: url(../../../assets/images/observacionTransparente.png);
    background-blend-mode: multiply;
    background-position: center center;
    background-size: cover;
    background-color: #dfeaf1;
    border: 1px solid #c1d23e;
    padding: 16px;
    box-shadow: 2px 2px 4px #c1d23e;
    margin-bottom: 1em;
    width: 250px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}