.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.mensajeria {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    border: 1px solid black;
    height: auto;
    background-image: url(../../../assets/images/sobre.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-blend-mode: multiply;
    background-color: #dfeaf1;
    color: black;
}

.perfil {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    border: 1px solid black;
}

.alumnos {
    grid-column: 2/ 3;
    grid-row: 3 / 3;
    border: 1px solid black;
    background-color: #dfeaf1;
}

.alumnos h2 {
    margin: 1em;
}

.alumno {
    border: 1px solid black;
    padding: 1.5em;
    background-image: url(../../../assets/images/cuadro3.png);
    background-blend-mode: multiply;
    background-color: #ffffff;
    background-size: cover;
    background-position: center center;
    border-radius: 25px;
    margin-bottom: 1em;
}


.observaciones {
    grid-column: 3/4;
    grid-row: 3 / 4;
    border: 1px solid black;
    background-color: #dfeaf1;

}

.observaciones h2 {
    margin: 1em;
}

.observacion {
    border-radius: 25px;
    background-image: url(../../../assets/images/cuadricula2.jpg);
    background-blend-mode: multiply;
    background-position: center center;
    background-size: cover;
    background-color: white;
    border: 1px solid black;
    padding: 16px;
    margin-bottom: 1em;


}