@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');

.clases {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.cursos {
    height: auto;
    border-radius: 1em;
    background-color: #dfeaf1;
    background-size: 270%;
    border: 2px solid #c1d23e;
}

.btn {
    background-color: #c1d23e;
    border: 1px solid #c1d23e;
    color: black;
    width: 150px;
}

.boton {
    display: flex;
    justify-content: left;
    padding: 40px;
}

li {
    padding: 0.75em;
    list-style: none;
    cursor: pointer;
}

li:hover {
    border-radius: 1em;
    background-color: #c1d23e;
    width: fit-content;
}
