<footer>

    <div class="wraper">
        <div class="container">
            <div class="top-footer">
                <ul>
                    <h5>ClassMate</h5>

                    <p>Plataforma educativa de gestión escolar, evaluación formativa y comunicación.</p>

                </ul>
                <ul>
                    <h5>Productos</h5>
                    <li>ClassMate for Teacher</li>
                    <li>ClassMate for Student</li>
                    <li>ClassMate for Tutor</li>
                    <li>Comunciación escolar</li>
                    <li>Infantil y primaria</li>
                </ul>
                <ul>
                    <h5>Recursos</h5>
                    <li>Funcionalidades</li>
                    <li>Ayudas</li>
                    <li>Blog</li>
                    <li>Contacto</li>

                </ul>
                <ul>
                    <h5>Seguridad</h5>
                    <li>Seguridad y privacidad</li>
                    <li>Política de cookies</li>
                    <li>Términos y condiciones</li>
                </ul>

            </div>
            <div class="bottom-footer">
                <div class="icono">
                    <a href="https://facebook.com/"><i class="fab fa-brands fa-facebook"></i></a>
                    <a href="https://twitter.com/"><i class="fab fa-brands fa-twitter"></i></a>
                    <a href="https://instagram.com/"><i class="fab fa-brands fa-instagram"></i></a>
                    <p>&copy; Copyright 2023</p>
                </div>
            </div>
        </div>
    </div>
</footer>