<form [formGroup]="formMensaje" (ngSubmit)="getDataMensaje()">
    <div class="mb-3">
        <label class="form-label">Contenido</label>
        <textarea class="form-control" formControlName="contenido" cols="100" rows="2"></textarea>
    </div>
    <div>
        <select formControlName="receptor_id">
            <option [value]="user.id" *ngFor="let user of arrUsers">{{user.nombre}}</option>
        </select>
    </div>
    <input type="submit" value="Enviar">
</form>
<div *ngFor="let mensaje of arrMensajes">
    <p>Emisor:{{mensaje.emisor}}</p>
    <p>Receptor:{{mensaje.receptor}}</p>
    <p>Contenido: {{mensaje.contenido}}</p>
    <p>Contenido: {{mensaje.fecha}}</p>
</div>