<div class="container">
    <form [formGroup]="formMensaje" (ngSubmit)="getDataMensaje()">
        <div class="mb-3">
            <textarea class="form-control" formControlName="contenido" cols="100" rows="2"
                placeholder="Introduce el mensaje"></textarea>
            <select formControlName="receptor_id">
                <option [value]="user.id" *ngFor="let user of arrUsers">{{user.nombre}}</option>
            </select>
            <div class="boton">
                <button type="submit"><i class="fa-solid fa-paper-plane"></i></button>
            </div>
        </div>
    </form>
    <div class="mensajes">
        <div *ngFor="let mensaje of arrMensajes">
            <p class="nombre">{{mensaje.receptor}}</p>
            <p>{{mensaje.contenido}}</p>
            <p>{{mensaje.fecha | date:'medium'}}</p>
        </div>
    </div>

</div>