form div {
    display: flex;
    gap: 10px;
    justify-content: stretch;
}

select {
    padding: 10px;
    width: 100px;
    background-color: whitesmoke;
    border-radius: 100px;
}

form textarea {
    max-width: 800px;
    border: 2px solid #c1d23e;
    background-color: #dfeaf1;
    border-radius: 1em;
}

button {
    background-color: white;
    border: none;
}

button i {
    font-size: 2.5em;
    color: #c1d23e;

}

.mensajes div {
    box-shadow: #c1d23e 0px 4px 10px;
    background-color: #dfeaf1;
    margin: 1em;
    padding: 1em;
}

.mensajes div p:last-child {
    color: rgb(155, 146, 146);
    text-align: right;
}