<div class="container">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">Horas</th>
                <th scope="col">Lunes</th>
                <th scope="col">Martes</th>
                <th scope="col">Miercoles</th>
                <th scope="col">Jueves</th>
                <th scope="col">Viernes</th>
            </tr>
        </thead>
        <tbody>
            <!-- <tr *ngFor="let hora of arrHoraProf">
                <th scope="row">{{hora.inicio}}-{{hora.fin}}</th>
                <td>{{hora.asignatura}}</td>
            </tr> -->
            <tr>
                <th scope="row">10:00 - 11:00</th>
                <td></td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">11:00 - 11:30</th>
                <td colspan="5">RECREO </td>
            </tr>
            <tr>
                <th scope="row">11:30 - 12:30</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">12:30 - 13:30</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">13:00 - 15:30</th>
                <td colspan="5">COMIDA </td>
            </tr>
            <tr>
                <th scope="row">15:30 - 16:30</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">16:30 - 17:30</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
            </tr>
        </tbody>
    </table>
</div>