<div class="container">
    <table mat-table [dataSource]="transformDatos(arrHoraProf)"
        class="mat-elevation-z8 table table-hover table-bordered">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="hora">
            <th mat-header-cell *matHeaderCellDef> hora </th>
            <td mat-cell *matCellDef="let element"> {{element[0]}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="lunes">
            <th mat-header-cell *matHeaderCellDef> Lunes </th>
            <td mat-cell *matCellDef="let element"> {{element[1]}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="martes">
            <th mat-header-cell *matHeaderCellDef> Martes </th>
            <td mat-cell *matCellDef="let element"> {{element[2]}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="miercoles">
            <th mat-header-cell *matHeaderCellDef> Miercoles </th>
            <td mat-cell *matCellDef="let element"> {{element[3]}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="jueves">
            <th mat-header-cell *matHeaderCellDef> Jueves </th>
            <td mat-cell *matCellDef="let element"> {{element[4]}} </td>
        </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="viernes">
            <th mat-header-cell *matHeaderCellDef> Viernes </th>
            <td mat-cell *matCellDef="let element"> {{element[5]}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


</div>
<!-- 
<div class="container">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">Horas</th>
                <th scope="col">Lunes</th>
                <th scope="col">Martes</th>
                <th scope="col">Miercoles</th>
                <th scope="col">Jueves</th>
                <th scope="col">Viernes</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let hora of arrHoraProf">
                <th scope="row">{{hora.inicio}}-{{hora.fin}}</th>
                <td>{{hora.asignatura}}</td>
            </tr>
            <tr>
                <th scope="row">10:00 - 11:00</th>
                <td></td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">11:00 - 11:30</th>
                <td colspan="5">RECREO </td>
            </tr>
            <tr>
                <th scope="row">11:30 - 12:30</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">12:30 - 13:30</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">13:30 - 15:30</th>
                <td colspan="5">COMIDA </td>
            </tr>
            <tr>
                <th scope="row">15:30 - 16:30</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">16:30 - 17:30</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
            </tr>
        </tbody>
    </table>
</div> -->