<div class="perfil">
    <div class="container">
        <div class="row p-3" *ngFor="let perfil of arrPerfil">
            <div class="col-4 col-sm-4 ">
                <p><i class="fa-solid fa-user"></i> {{perfil.nombre}} {{perfil.apellidos}}</p>
            </div>
            <div class="col-4 col-sm-4 ">
                <p><i class="fa-solid fa-id-card"></i> {{perfil.dni}}</p>
                <p><i class="fa-solid fa-location-dot"></i> {{perfil.direccion}}</p>
                <p><i class="fa-solid fa-envelope"></i> {{perfil.email}}</p>

            </div>
            <div class="col-4 col-sm-4">
                <p><i class="fa-solid fa-venus-mars"></i> {{perfil.genero}}</p>
                <p class="fecha"><i class="fa-solid fa-cake-candles"></i> {{perfil.nacimiento}}</p>
            </div>
        </div>
    </div>
</div>