<div class="container">
    <nav class="navegador">
        <!-- <div class="listaWrap"> -->
        <a href="#">
            <img class="logo" src="../../../assets/images/logo.png">
        </a>


        <!-- <button class="navbar-toggler" type="button" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="navigation">
            </button> -->
        <div class="botones">
            <button class="btn" aria-current="page" [routerLink]="['/']"
                *ngIf="!userService.isLogged() && router.url === '/login'">
                Home
            </button>

            <button class="btn" [routerLink]="['/alumno']" *ngIf="userService.isLogged() && userService.isAlumno()">
                Inicio
            </button>

            <button class="btn" [routerLink]="['/tutor']" *ngIf="userService.isLogged() && userService.isTutor()">
                Inicio
            </button>
            <button class="btn" [routerLink]="['/profesor']" *ngIf="userService.isLogged() && userService.isProfesor()">
                Inicio
            </button>

            <button class="btn" [routerLink]="['/login']"
                *ngIf="!userService.isLogged() && router.url === '/'">Login</button>

            <button class="btn" [routerLink]="['/registro']"
                *ngIf="userService.isLogged() && userService.isProfesor()">Crear Usuario</button>

            <button class="btn" (click)="onLogOut()" *ngIf="userService.isLogged()">LogOut</button>
        </div>

        <div class="cardUser" *ngIf="userService.isLogged()">
            <figure class="perfil">
                <img *ngIf="userService.isTutor() && male" src="../../../assets/images/tutor.jpg">
                <img *ngIf="userService.isTutor() && !male" src="../../../assets/images/tutorA.jpg">
                <img *ngIf="userService.isAlumno() && male" src="../../../assets/images/alumnO.jpg">
                <img *ngIf="userService.isAlumno() && !male" src="../../../assets/images/alumnA.jpg">
                <img *ngIf="userService.isProfesor() && male" src="../../../assets/images/profesor.jpg">
                <img *ngIf="userService.isProfesor() && !male" src="../../../assets/images/profesora.jpg">
            </figure>
            <div>
                {{name}}
            </div>
        </div>


        <!-- </div> -->
    </nav>

</div>