/*.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.asignaturas {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    border: 1px solid black;
    height: auto;
}

.perfil {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    border: 1px solid black;
}

.horario {
    grid-column: 2/ 3;
    grid-row: 3 / 3;
    border: 1px solid black;
}

.tareas {
    grid-column: 3/4;
    grid-row: 3 / 4;
    border: 1px solid black;
    padding: 20px;
}*/

.total {
    max-width: 1004px;
    margin: 0 auto;
}

.horario {
    border-radius: 1em;
    background-color: #dfeaf1;
    border: 2px solid #c1d23e;
    cursor: pointer;
}

.horarioTabla {
    margin-top: 20px;
}


.tareas {
    padding: 20px;
    background-color: #dfeaf1;
    border: 2px solid #c1d23e;
    border-radius: 1em;
}

.asignaturas {
    padding: 20px;
    background-color: #dfeaf1;
    border: 2px solid #c1d23e;
    border-radius: 1em;
}