.total {
    max-width: 1004px;
    margin: 0 auto;
}

.horario {
    border-radius: 1em;
    background-color: #dfeaf1;
    border: 2px solid #c1d23e;
    cursor: pointer;
}

.horarioTabla {
    margin-top: 20px;
}


.tareas {
    padding: 20px;
    background-color: #dfeaf1;
    border: 2px solid #c1d23e;
    border-radius: 1em;
}

.asignaturas {
    padding: 20px;
    background-color: #dfeaf1;
    border: 2px solid #c1d23e;
    border-radius: 1em;
    font-size: 1.5em;
    line-height: 1.5;
}

.asignaturas li {
    cursor: pointer;
    padding-left: 15px;
}