<!-- Background image -->
<div>
    <!-- Background image -->
    <div class="container">
        <img src="../../../assets/images/Administración.png" class="img-fluid">
    </div>
    <div class="container">
        <img src="../../../assets/images/foto2.png" class="img-fluid">
    </div>
    <div class="container">
        <mat-tab-group fitInkBarToContent>
            <mat-tab label="Calendario">
                <img src="../../../assets/images/fotoToggle3.png" class="img-fluid">
            </mat-tab>
            <mat-tab label="Resultados">
                <img src="../../../assets/images/fotoToggle2.png" class="img-fluid">
            </mat-tab>
            <mat-tab label="Ofrecemos">
                <img src="../../../assets/images/fotoToggle1.png" class="img-fluid">
            </mat-tab>
        </mat-tab-group>
    </div>
</div>