<form [formGroup]="formulario" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="outline">
        <mat-label>Hora</mat-label>
        <mat-select formControlName="inicio">
            <mat-option value="09:00:00">9:00h</mat-option>
            <mat-option value="10:00:00">10:00h</mat-option>
            <mat-option value="11:30:00">11:30h</mat-option>
            <mat-option value="12:30:00">12:30h</mat-option>
            <mat-option value="15:30:00">15:30h</mat-option>
            <mat-option value="16:30:00">16:30h</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Dia</mat-label>
        <mat-select formControlName="dia">
            <mat-option [value]="martes">Lunes</mat-option>
            <mat-option value="m">Martes</mat-option>
            <mat-option value="x">Miércoles</mat-option>
            <mat-option value="j">Jueves</mat-option>
            <mat-option value="v">Viernes</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Asignatura</mat-label>
        <mat-select formControlName="asignaturas_id">
            <mat-option *ngFor="let asignatura of asignaturas"
                [value]="asignatura.id">{{asignatura.asignatura}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Clase</mat-label>
        <mat-select formControlName="clases_id">
            <mat-option *ngFor="let clase of clases" [value]="clase.clase_id">{{clase.nombre}}</mat-option>
        </mat-select>
    </mat-form-field>
    <input type="submit" value="Registrar">

</form>