<div class="tareas">
    <h2>Tarea</h2>
    <div class="container">
        <div class="tarea" *ngFor="let tarea of tareas">
            <div class="tarea1">
                <h3>{{tarea.titulo}}</h3>
                <p>{{tarea.contenido}}</p>
                <p>Fecha Entrega: {{tarea.fecha_entrega}}</p>
                <div class="boton">
                    <button class="btn btn-info" [routerLink]="['/profesor/tarea','edit', tarea.id]"
                        *ngIf="!alumnoService.isAlumno()">Editar</button>
                    <button class="btn btn-info" (click)="deleteTask(tarea.id)" style="margin-left: 10px;"
                        *ngIf="!alumnoService.isAlumno()">Delete</button>
                </div>
            </div>
        </div>
    </div>