<div class="formulario">
    <div class="container">
        <div class="alumno">
            <form #formStudents="ngForm" (ngSubmit)="getDataFrom(formStudents)">
                <div class="botonSelect">
                    <select class="btn btn-info" name="alumnoId" ngModel>
                        <option value="">Selecciona un alumno</option>
                        <option *ngFor="let alumno of arrAlumnos" [value]="alumno.id">{{alumno.nombre}}</option>
                    </select>
                    <div class="boton">
                        <input type="submit" value="Select" class="btn btn-info">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="container">
        <div class="listaAlumnos">
            <ul class="lista">
                <li *ngFor="let alumno of alumnos">
                    <div class="listaalum">
                        {{alumno.nombre}} {{alumno.apellidos}}
                    </div>
                    <div class="icono">
                        <i class="fa-regular fa-file-lines" [routerLink]="['/profesor/alumnos/', alumno.id,classId]"
                            id="datos"></i>
                        <i class="fa-solid fa-pen-to-square"
                            [routerLink]="['/profesor/observacion/new/alumno', alumno.id, alumno.clases_id]"
                            id="newAlumno"></i>
                        <i class="fa-solid fa-circle-minus" (click)="deleteAlumno(alumno.hasClase_id)"></i>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <app-listar-asignaturas></app-listar-asignaturas>
    </div>
</div>
