<p>clase-view works!</p>
<div class="container">

    <form #formStudents="ngForm" (ngSubmit)="getDataFrom(formStudents)">
        <select name="alumnoId" ngModel>
            <option value="">Selecciona un alumno</option>
            <option *ngFor="let alumno of arrAlumnos" [value]="alumno.id">{{alumno.nombre}}</option>
        </select>
        <input type="submit" value="Select">
    </form>



    <ul class="lista">
        <li *ngFor="let alumno of alumnos">
            {{alumno.nombre}} {{alumno.apellidos}} {{alumno.clase}}
            <button (click)="deleteAlumno(alumno.hasClase_id)">x</button>
            <button [routerLink]="['/profesor/alumnos/', alumno.id]">Ver Alumnos</button>
            <button [routerLink]="['/profesor/observacion/new/alumno', alumno.id, alumno.clases_id]">Crear
                Observacion</button>
        </li>
    </ul>
    <app-listar-asignaturas></app-listar-asignaturas>
</div>