<div class="container">
    <div class="wrapper">
        <div class="clases">
            <app-listar-clases></app-listar-clases>
            <button [routerLink]="['/profesor/crear']">Crear Asignatura</button>
        </div>
        <div class="perfil">
            <app-perfil></app-perfil>
        </div>
        <div class="horario">
            <app-tabla class="horario"></app-tabla>
        </div>
        <div class="mensajeria">mensajeria
            <app-conversacion class="mensajes"></app-conversacion>
        </div>
    </div>
</div>