<!-- <div class="container">
    <div class="wrapper">
        <div class="col-md-6 clases">
            <app-listar-clases></app-listar-clases>
            <div class="boton">
                <input type="submit" value="Crear Asignatura" class="btn btn-info" [routerLink]="['/profesor/crear']">
            </div>

        </div>
        <div class="col-md-6 perfil">
            <app-perfil></app-perfil>
        </div>
        <div class="horario">
            <app-tabla class="horarioTabla"></app-tabla>
        </div>
        <div class="mensajeria">mensajeria
            <app-conversacion class="mensajes"></app-conversacion>

        </div>
    </div>
</div> -->

<div class="container">
    <div class="wrapper">
        <div class="row">
            <div class="col-md-11 perfil">
                <app-perfil></app-perfil>
            </div>


        </div>
        <div class="row">
            <div class="col-md-11 mensajeria">
                <p>mensajeria</p>
                <app-conversacion class="mensajes"></app-conversacion>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 clases">
                <app-listar-clases></app-listar-clases>
                <div class="boton">
                    <input type="submit" value="Crear Asignatura" class="btn btn-info"
                        [routerLink]="['/profesor/crear']">
                </div>
            </div>
            <div class="col-md-8 horario">
                <app-tabla class="horarioTabla"></app-tabla>
            </div>


        </div>

    </div>
</div>