<div class="container">
    <div class="wrapper">
        <div class="clases">
            <app-listar-clases></app-listar-clases>
            <div class="boton">
                <input type="submit" value="Crear Asignatura" class="btn btn-info" [routerLink]="['/profesor/crear']">
            </div>

        </div>
        <div class="perfil">
            <app-perfil></app-perfil>
        </div>
        <div class="horario">
            <app-tabla class="horarioTabla"></app-tabla>
        </div>
        <div class="mensajeria">mensajeria
            <app-conversacion class="mensajes"></app-conversacion>
            <button>mensaje</button>
        </div>
    </div>
</div>