.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.clases {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    border: 1px solid black;
    height: auto;
}

.perfil {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    border: 1px solid black;
}

.horario {
    grid-column: 2/ 3;
    grid-row: 3 / 3;
    border: 1px solid black;
}

.mensajeria {
    grid-column: 3/4;
    grid-row: 3 / 4;
    border: 1px solid black;
    padding: 20px;
}