.total {
    max-width: 1004px;
    margin: 0 auto;
    font-size: 22px;
}


.horario {
    border-radius: 1em;
    background-color: #dfeaf1;
    border: 2px solid #c1d23e;
    cursor: pointer;
}

.horarioTabla {
    margin-top: 20px;
}

.mensajeria {
    padding: 20px;
    background-image: url(../../../../assets/images/sobre.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: #dfeaf1;
    color: black;
    border-radius: 1em;
    border: 2px solid #c1d23e;
}


.mat-tab-group {
    height: 600px;
    border-radius: 1em;
    background-color: #dfeaf1;
}
