/* @import url(../../clase/listar-clases/listar-clases.component.css); */

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.clases {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    height: auto;
    border-radius: 1em;
    background-color: #dfeaf1;
    background-image: url(../../../../assets/images/lapiz.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.btn {
    background-color: #c1d23e;
    border: 1px solid #c1d23e;
    color: black;
    width: 150px;
}

.boton {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.perfil {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    border-radius: 1em;
    background-color: #dfeaf1;
}

.horario {
    grid-column: 2/ 3;
    grid-row: 3 / 3;
    border-radius: 1em;
    background-color: #dfeaf1;
}

.horarioTabla {
    margin-top: 20px;
}

.mensajeria {
    grid-column: 3/4;
    grid-row: 3 / 4;
    padding: 20px;
    border-radius: 1em;
    background-color: #dfeaf1;
}