<div class="container position-relative">
    <div class="formulario">
        <h4>CREAR TAREA</h4>
        <form [formGroup]="formularioTarea" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label class="form-label">Titulo</label>
                <input type="text" class="form-control" formControlName="titulo">

                <p class="error" *ngIf="checkError('titulo', 'required')">
                    El campo titulo es requerido</p>
            </div>
            <div class="mb-3">
                <label class="form-label">Contenido</label>
                <textarea class="form-control" cols="30" rows="10" formControlName="contenido"></textarea>

                <p class="error" *ngIf="checkError('contenido', 'required')">
                    El campo contenido es requerido</p>
            </div>
            <div class="mb-3">
                <label class="form-label">Fecha Entrega</label>
                <input type="datetime-local" class="form-control" formControlName="fecha_entrega">

                <p class="error" *ngIf="checkError('fecha_entrega', 'required')">
                    El campo fecha entrega es requerido</p>
            </div>
            <div class="boton">
                <button class="btn btn-info">CREAR</button>
            </div>

        </form>
    </div>
</div>